<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Vidyasagar public school is established in 2017 and the founder of this school is Pawan kumar yadav.
        School is located near bounsi banka.We provide tremendous facility to the student as well as we partcipate in tournament as well.</h1>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>